<html>
    <head>
        <title>GIVING THE PEOPLE WHAT THEY WANT</title>

		<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<head/>
	
	<body>
		<div class="jumbotron">
		<h1>Our Coffee</h1>
			<div class='container'>
			<h1>MINIMALIST</h1>
			<p>We look to reduce friction. We want the highest quality beans turned into delicious bevvies for our patrons at the lowest possible price. We want our people to be vibing off of healthy boosters (coconut oil, ghee, collagen, gluten free treats made from mixing the above and cacao). We relentlessly pursue the best sourcing of ingredients to GIVE THE PEOPLE WHAT THEY WANT</p>
	</body>


</html>