<html>


	<head>
		<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<head/>
	
	<body>
		<div class="jumbotron">
		<h1>Sean Park and Sam Nelson</h1>
			<div class='container'>
			<h1>Columbia MBA 2017</h1>
			<p>Sean and Sam are second year students at CBS who both previously worked in the US health payer space, Sean for Anthem and Sam for Cigna. Sean spent the summer at S and P in research and Sam spent the summer in consulting.</p>
	</body>


</html>